* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: bottom;
}
body {
	position:relative;
    background-color: #f4f5fc;
}

wrapper {
	display:flex;
	flex-direction: row;
	margin:60px 67px 60px 60px;

}
.wrapper_signup {
	position:relative;
	float:left;
	color:#ffffff;
	background-color: #5a61ed;
	width:137px;
	height: 480px;
}
.wrapper_signup-div-h1{
		position:absolute;
		bottom: 100px;
		right:-68px;
}
.wrapper_signup-h1 {
		width: 200px;
		transform:rotate(-90deg);
		font-family: PT Sans;
		font-size: 49px;
		line-height: 63px;
		letter-spacing: 0.5px
	}

.wrapper_main-form {
	float:right;
	padding: 38px 20px;
	width:527px;
    height:480px;
	background-color: #ffffff;
}
.wrapper_main-form h2 {
	font-family: Work Sans;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.46px;
	color:#111111;
}

.wrapper_main-form p{
	font-family: Work Sans;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color:#111111;
}
.wrapper_main-form-panel{
	margin:20px 0;
}
.wrapper_form-left{
	float:left;
	width:50%;
}
input[type="text"], input[type="password"], input[type="email"] {
	display:block;
	border-bottom: 1px solid #f2f2f2;
	font-family: Work Sans;
	font-size: 14px;
	line-height: 16px;
	color:#111111;
	width:49%;
}
input[type="text"]::-webkit-input-placeholder {
    color: #111111;
} 
input[type="text"]::-moz-placeholder {
   color: #111111;
}
input[type="email"]::-webkit-input-placeholder {
    color: #111111;
} 
input[type="email"]::-moz-placeholder {
   color: #111111;
}
#form_first-name, #form_nation, #form_pass {
	width:95%;
}
#form_date-of-birth-day {
	width:20%;
}
#form_date-of-birth-month {
	width:50%;
}
#form_date-of-birth-year {
	width:21%;
}

 select {
	border-bottom: 1px solid #f2f2f2;
	font-family: Work Sans;
	font-size: 14px;
	line-height: 16px;
	color:#111111;

 }
.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}
label {
	font-family: Work Sans;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color:#7c7c7c;
}
.form_name {
	width:100%;
}
.string_next:after {
	display:block;
}
#form_nation {
	display:block;
}
.form_gender-label {
	display :block;
}
.form_name, .form_nation, .form_date, .form_last-name, .form_email {
	margin-bottom: 23px;
}
.form_gender {
	display: inline-block;
	margin-bottom: 25px;
}
.form_gender span{
	font-family: Work Sana;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;	
	vertical-align: bottom;
}
#form_gender, #form_gender-woman {
	margin-right: 6px;
}
.form_gender-male{
	margin-right: 19px;
}
.wrapper_foot {
	position:absolute;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	bottom:32px;
	vertical-align: middle;
	width:451px;

}
#form_submit {
	float:right;
	background-color: #5a61ed;
	color:#ffffff;
	width:154px;
	height:32px;
}